:root {
  --color: black;
  --font-grey: rgb(80, 79, 79);

  --dark-blue: #111517;
  --dark-grey: #858585;
  --light-gray: #fafafa;
  --white: #ffffff;

  --weight-light: 300;
  --weight-semi: 600;
  --weight-bold: 800;

  --font-main: "Nunito", sans-serif;

  --border-radius: 0.3rem;

  --box-shadow: 0.1rem 0.1rem 0.15rem 0.1rem rgba(64, 62, 91, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  color: var(--color);
}

body {
  background-color: var(--light-gray);
}

.boxShadow {
  box-shadow: var(--box-shadow);
}

.borderRadius {
  border-radius: 0.3rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}

/* ----------------- Header ----------------- */

.mainContainer {
  padding: 0rem 5rem;
}

header {
  background-color: var(--white);
  box-shadow: 0rem 0.13rem 0.13rem var(--light-gray);
  padding-block: 1rem;
}

.headerText {
  font-size: 1.5rem;
  font-weight: var(--weight-semi);
}

.darkMode {
  color: var(--font-grey);
}

.darkMode button {
  border-style: none;
  background-color: var(--white);
  color: inherit;
}

.darkMode span {
  font-size: 0.9375rem;
  font-weight: var(--weight-semi);
}

.darkMode i {
  margin-right: 0.2rem;
  font-size: 1.125rem;
}

/* ----------------- Upper Body ----------------- */

.upperBody {
  margin-top: 2.7rem;
}

.searchBar,
.dropbtn {
  padding: 0.8rem 1.3rem;
}

.input,
.dropdown {
  font-size: 0.8rem;
}

.searchIcon {
  margin-left: 1rem;
}

.searchBar {
  width: 29rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 0;
}

.input {
  outline: none;
  border-style: none;
  background-color: inherit;
  width: 100%;
  height: 100%;

}

.input::placeholder {
  color: var(--font-grey);
}

.input:focus {
  outline: none;
  border-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--white);
  width: fit-content;
}

.dropbtn {
  display: flex;
  align-items: center;
  height: 100%;
}

.dropbtn i {
  margin-left: 2.5rem;
  font-size: 0.75rem;
  width: fit-content;
}

.dropbtn span {
  font-weight: var(--weight-light);
  font-size: 0.8rem;
  color: var(--font-grey);
}

.dropdown-content {
  margin-top: 0.3rem;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 0.6rem 0.4rem;
  background-color: var(--white);
}

.dropdown-content a {
  color: inherit;
  padding: 0.2rem 1rem;
  text-decoration: none;
  display: block;
  font-weight: var(--weight-light);
}

.dropdown-content a:hover {
background-color: rgb(173, 173, 173);

}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----------------- Grid ----------------- */
.gridContainer {
  margin-top: 2.5rem;
}

.row {
  margin-left: -2.6rem;
  margin-right: -2.6rem;
}

.country {
  margin-bottom: 1.56rem;
  padding: 0 1.12rem;
}

.card {
  overflow: hidden;
  position: relative;
  background-color: var(--white);
}

.card-img-top {
  height: 10rem;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem 1.5rem;
}

.card-text {
  margin-top: 1rem;
}

.card-text:last-child {
  margin-bottom: 0.9rem;
}

.card-title {
  font-size: 1.1rem;
  font-weight: var(--weight-semi);
}

.card-text p,
.card-text span {
  margin-bottom: 0rem;
  font-size: 0.8rem;
}

.card-text-item {
  display: flex;
}

.card-text p {
  font-weight: var(--weight-semi);
}

.card-text span {
  margin-left: 0.3rem;
}

/* ----------------- Details Page ----------------- */

.backButton {
  margin-top: 5rem;
}

.backButton a {
  background-color: var(--white);
  padding: 0.7rem 2rem;
  box-shadow: 0.125rem 0.125rem 0.25rem 0.187rem rgba(64, 62, 91, 0.15);
  text-decoration: none;
  color: inherit;
  border-radius: 0.31rem;
  font-weight: var(--weight-light);
}

.fa-solid {
  margin-right: 0.5rem;
}

.r {
  margin-top: 5rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgCol {
  padding-left: 0;
  padding-right: 5.625rem;
  max-height: 21.875rem;
}

.detailsCol {
  padding: 2rem 0rem;
}

.detailsContainer h2 {
  font-weight: var(--weight-semi);
}

.info {
  margin-top: 1.8rem;
}

.info div:nth-child(2) {
  margin-right: 2rem;
}

.infoText p {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semi);
}

.infoText span {
  margin-left: 0.3rem;
  font-weight: var(--weight-light);
}

.borderCountries {
  margin-top: 3rem;
  font-size: 0.8rem;
}

.borderCountries span {
  font-weight: var(--weight-semi);
  min-width: fit-content;
}

.borderItemContainer {
  margin-left: 1rem;
  gap: 0.5rem;
  flex-wrap:wrap ;
}

.borderItem {
  padding: 0.2rem 0.5rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  min-width: 6.4rem;
  text-align: center;

}

/* ----------------- Responsive ----------------- */
@media only screen and (max-width: 850px) {
  .upperBody {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
  }

  .infoText:nth-child(2) {
    margin-top: 2rem;
  }

  .borderCountries {
    flex-direction: column;
    justify-content: flex-start;
  }

  .borderCountries span {
    width: 100%;
    text-align: left;
  }

  .borderItemContainer {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    padding: 1rem 1rem;
  }

  .headerText {
    font-size: 1.125rem;
    font-weight: var(--weight-semi);
  }

  .darkMode span {
    font-size: 1rem;
    font-weight: var(--weight-semi);
  }

  .upperBody {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem;
  }

  .input {
    font-size: 100%;
  }

  .dropbtn {
    padding: 1rem 1.5rem;
  }

  .dropbtn span {
    font-size: 1rem;
  }

  .dropdown-content a {
    font-size: 1rem;
  }

  .searchBar {
    padding: 1rem 2rem;
    width: 100%;
  }

  .dropdown {
    width: fit-content;
  }

  .country {
    padding-inline: 3rem;
    margin-bottom: 0;
  }

  .card-title {
    font-size: 1.4rem;
  }
  .card-text p,
  .card-text span {
    font-size: 1rem;
  }

  .imgCol {
    padding: 0rem 0rem;
  }

  .m {
    padding: 1rem 2rem;
  }

  .backButton {
    margin-top: 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .infoText p,
  .infoText p span,
  .borderCountries span,
  .borderItem {
    font-size: 1rem;
  }

  .infoText p {
    margin-bottom: 0.6rem;
  }

  .info div:nth-child(2) {
    margin-top: 2rem;
  }

  .borderCountries {
    flex-direction: column;
    justify-content: flex-start;
  }

  .borderCountries span {
    width: 100%;
    text-align: left;
  }

  .borderItemContainer {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-left: 0;

  }
}


/* spinner */

#loader {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.errorHandler {
  display: none;
  margin-top: 4rem;
  width: max-content;
  padding: 1rem;  
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}